#!/usr/bin/env python
PACKAGE = "warmup_project"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add(name="forward_wait_time", paramtype=double_t, level=0, description="Wait time to achieve 1m", default=2.5,  min=0.0, max=10)
gen.add(name="turn_wait_time", paramtype=double_t, level=0, description="Wait time to achieve 90 degrees", default=0.7,  min=0.0, max=10)

exit(gen.generate(PACKAGE, "warmup_project", "Square"))